body        { color: blue;  
              font-family: Arial,Helvetica,Verdana; font-weight: bold }

a:link      { color: red }

a:visited   { color: red }

a:active    { color: lime }

H1          { font-size: xx-large; color: #bb11dd; font-weight: bold}

H2          { font-size: x-large; color: blue; font-weight:bold}

H3          { font-size: large; color: blue }

th          { font-family: Arial,Helvetica,Verdana;
              font-weight: bold }

td          { font-family: Arial,Helvetica,Verdana }

pre         { font-family: Courier, CourierNew }

