body        { color: #000000; background: #FFFFFF;
              font-family: Arial,Helvetica,Verdana; }

a:link      { color: #000000 }

a:visited   { color: #000000 }

a:active    { color: #000000 }

H1          { font-size: xx-large;  font-weight: bold}

H2          { font-size: large;  font-weight:bold}

H3          { font-size: large;  font-weight:bold}

H4          { font-size: large;  }

th          { font-family: Arial,Helvetica,Verdana;
              font-weight: bold }

td          { font-family: Arial,Helvetica,Verdana }

pre         { font-family: Courier, CourierNew }

